html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: rgb(52, 206, 142);
    height: 100px;
}

h1 {
    text-align: center;
    color: red;
    line-height: 100px;
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
}

.top{
    display: flex;
    flex-direction: row;
}

.bottom{
    display: flex;
    flex-direction: row-reverse;
}

.right{
    display: flex;
    flex-direction: column-reverse;
}

.left{
    display: flex;
    flex-direction: column;
}

.left-top{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.left-bottom{
    display: flex;
    flex-direction: row;
    flex: 1;
}