
body {
    background-color: blueviolet; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


body > div {
    width: 1440px;
    margin: 0 auto;
}


h1, h2, h3 {
    text-align: center;
    color: #333;
}


.film-list {
    list-style-type: none; 
    padding: 0;
    text-align: center;
}

.film-list li {
    margin: 10px 0;
}

.film-list a {
    text-decoration: none; 
    color: #000; 
}


.film-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.film-images img {
    width: 300px; 
    height: 200px; 
    object-fit: cover; /* сохранене пропорции изображения и обрезаем лишнее */
    padding: 5px;
    border-radius: 15px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}




/*  шрифты */
@font-face {
    font-family: 'ShawshankFont';
    src: url('fonts/Sacramento.ttf') format('truetype');
}

@font-face {
    font-family: 'GodfatherFont';
    src: url('fonts/GodfatherFont.ttf') format('truetype');
}

@font-face {
    font-family: 'FightClubFont';
    src: url('fonts/FightClubFont.ttf') format('truetype');
}


#shawshank p {
    font-family: 'ShawshankFont', Arial, sans-serif;
    text-align: center; 
}

#godfather p {
    font-family: 'GodfatherFont', Arial, sans-serif;
    text-align: justify; /* по ширине */
}

#fightclub p {
    font-family: 'FightClubFont', Arial, sans-serif;
    text-align: left; 
}
