html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: rgb(52, 206, 142);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
}
.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "first second third third"
    "first fourth third third"
    "first fifth sixth seventh"
    "eighth ninth ninth tenth";
}

article:nth-child(1) {
    grid-area: first;
}

article:nth-child(3) {
    grid-area: third;
}

article:nth-child(9) {
    grid-area: ninth;
}